@import "../../global.scss";

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .a_header {
        font-size: 60px;
        margin: 60px 0px;
        color: lightgray;
        @include mobile {
            font-size: 40px;
        }
    }

    .aboutitems {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
        margin: 40px auto;
        gap: 30px;

        .aboutitem {
            width: 200px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;

            @include mobile {
                width: 170px;
                padding: 10px;
            }

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                background-color: $rgb;
                clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

            }

            h1 {
                font-size: 20px;
                color: white;

                @include mobile {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 5px;
                }

            }

            span {
                color: lightgray;
                font-size: 16px;
            }
        }
    }

}