

@import "../../global.scss";
.home{
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
    height: max-content;
    
    background: url('https: //encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI6sU9IgFb71Y7cFdK92DVMo5LREHLCugM2w&s');
}