


@import "../../global.scss";

.team{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 30px;
   margin: 50px 0px;
    .teamtop{
        h1{
            font-size: 50px;
            color: white;
            @include mobile {
                    font-size: 30px;
                }
        }
    }
    .teamitems{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        @include mobile{
            width: 95%;
        
        }
        .teamitem{
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 100px;
                height: 100px;
                clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
                object-fit: cover;
                background-color: rgba(0,0,0,0.3);
                @include mobile {
                        width: 60px;
                        height: 60px;
                    }
            }
            span{
                color: #da3df4;
                @include mobile{
                    display: none;
                }
            }
            .span{
                color: white;
            }
        }
    }

    .explorebtn{
        padding: 15px 30px;
        border: 1px solid #da3df4;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        color: #da3df4;
    }
}